section.section.section-clients
	h1.section-title(data-aos="fade-right" data-aos-duration="1000") Our clients
	.logo-list(data-aos="zoom-in-up" data-aos-duration="1000")
		a(href="https://itunes.apple.com/ru/developer/camera-first/id1294337163?mt=8", target="_blank")
			img(src="assets/logos/camera-first@2x.png", alt="Camera First")
		a.mojicam-logo(href="https://itunes.apple.com/ru/app/mojicam-new-personal-emoji/id1294337164?mt=8")
			img(src="assets/logos/mojicam@2x.png", alt="MojiCam")
		a(href="https://itunes.apple.com/bj/app/banuba-live-face-filters-app/id1205399556?mt=8", target="_blank")
			img(src="assets/logos/banuba@2x.png", alt="Banuba")
		a(href="https://readtoplay.io/", target="_blank")
			img(src="assets/logos/nicola@2x.png", alt="Nikola")

	.row.promo-baner
		.col-lg-7
			h1.section-title.d-lg-none Meet Nicola
			img.promo-baner-img(srcset="assets/images/homepage/nicola-app.png, assets/images/homepage/nicola-app@2x.png 2x", src="assets/images/homepage/nicola-app.png", alt="Nicola", width="100%", height="auto",  data-aos="zoom-in-right")
		.col-lg-5
			.promo-baner-description
				h1.section-title.d-none.d-lg-block(data-aos="fade-right" data-aos-duration="1000") Meet Nicola
				div(data-aos="fade-right" data-aos-duration="1000")
					h2 Wise Parental Control Solution
					p Motivate children to read daily by their natural desire to play.
					p Schedule reading and game time. Choose what apps to block and for how long. Your children will unlock them only by reading.
					.btn-holder
						a.btn.btn-primary.btn-brand(href="//readtoplay.io", target="_blank") Learn More
