section.section.section-instagram(data-aos="zoom-in-up" data-aos-duration="1000")
	.heading
		h1.section-title.text-center 
			div Our Instagram Tag
			span.text-brand #banuba
		.section-text
			| Install 
			a.link(href="https://play.google.com/store/apps/details?id=com.banuba.camera&hl=en_US", target="_blank") Banupa App
			|, take a photo and upload  in&nbsp;instagram with hashtag #banuba
	.photo-list
		.photo-list-col
			+insta("image-04")
			+insta("image-13")
			
		.photo-list-col
			+insta("image-01")
			+insta("image-02")
			

		.photo-list-col
			+insta("image-07")
			+insta("image-18")
			
		.photo-list-col
			+insta("image-20")
			+insta("image-11")
			

		.photo-list-col
			+insta("image-10")
			+insta("image-15")
			
		.photo-list-col
			+insta("image-16")
			+insta("image-08")
			

		.photo-list-col
			+insta("image-19")
			+insta("image-05")
			
		.photo-list-col
			+insta("image-03")
			+insta("image-21")
			

		.photo-list-col
			+insta("image-09")
			+insta("image-12")
			
		.photo-list-col
			+insta("image-06")
			+insta("image-14")
			

		.photo-list-col
			+insta("image-17")
			+insta("image-18")
			





