section.section.section-why-us
	h1.section-title(data-aos="fade-right" data-aos-duration="1000") Why Us?

	ul.content-list.two-col
		+list-item("Recognize and capture 3D images in any lighting and without face loss.", "±90° angles, 360° rotation ")
		+list-item("Run neural networks on mobile devices. ","Mobile optimized")
		+list-item("Achieve excellent results using the right balance between speed and quality of facial recognition. ","Optimal 86 landmarks")
		+list-item("Reach customers on any device or platform – iOS, Android, or Windows.","All platforms & devices")
		+list-item("Build, train and deploy a fully-functional neural network even with a small dataset. ","Genetic algorithm")
		+list-item("Show the sharpest image possible.","HD resolution support")
		+list-item('Get a "clean" image with our patented anti-jitter algorithm that reduces camera jitter and auto adjusts lighting. ',"Jitter-low image")
		+list-item("Build a seamless and consistent experience with Banuba technology.","No 3rd party patents")