section.section.section-team(data-aos="zoom-in-up" data-aos-duration="1000")
	h1.section-title.text-center(data-aos="fade-up") Our Team

	.team.js-team-slider.team-slider
		.team-member
			.team-member-photo-frame
				.team-member-photo
					img(srcset="assets/images/team/DO-x1.png, assets/images/team/DO-x2.png 2x", src="assets/images/team/DO-x1.png", alt="Dmitry Ogievich photo")
			h3.team-member-name Dmitry Ogievich
			span.team-member-position CEO Banuba Belarus

		.team-member
			.team-member-photo-frame
				.team-member-photo
					img(srcset="assets/images/team/MB-x1.png, assets/images/team/MB-x2.png 2x", src="assets/images/team/MB-x1.png", alt="Mikhail Boiko photo")
			h3.team-member-name Mikhail Boiko
			span.team-member-position Director of Business Development
			a.team-member-link(href="https://www.linkedin.com/in/mikhail-boiko-98a86a13", target="_blank") 
				img.ico(src="assets/icons/social/linkedin.svg", width="12", height="12") 
				| Contact me

		.team-member
			.team-member-photo-frame
				.team-member-photo
					img(srcset="assets/images/team/AS-x1.png, assets/images/team/AS-x2.png 2x", src="assets/images/team/AS-x1.png", alt="Anton Liskevich photo")
			h3.team-member-name Alexey Sokolsky
			span.team-member-position СТО
			
		.team-member
			.team-member-photo-frame
				.team-member-photo
					img(srcset="assets/images/team/AL-x1.png, assets/images/team/AL-x2.png 2x", src="assets/images/team/AL-x1.png", alt="Anton Liskevich photo")
			h3.team-member-name Anton Liskevich
			span.team-member-position Product Manager
		
		.team-member
			.team-member-photo-frame
				.team-member-photo
					img(srcset="assets/images/team/AT-x1.png, assets/images/team/AT-x2.png 2x", src="assets/images/team/AT-x1.png", alt="Alexey Tulia photo")
			h3.team-member-name Alexey Tulia
			span.team-member-position Head of SDK team

	.decor-triangle-line

