section.section.section-sdk(data-aos="zoom-in-up" data-aos-duration="1000")
	h1.section-title.text-center FaceAR SDK
	.section-text
		p Create unrivaled AR experiences. Get insights into your  audience. Engage and retain customers like never before.

	.promo-info.row
		.col
			.promo-info-item( data-aos="fade-up")
				.promo-info-content
					span.max 26
					span patents
		.col
			.promo-info-item( data-aos="fade-up")
				.promo-info-content
					span.max 5
					span platforms
		.col
			.promo-info-item( data-aos="fade-up")
				.promo-info-content
					span.max 150
					span professionals