section.section.section-promo
	.row
		.col-lg-8
			h1.text-brand.display-4 Build smart apps easily with&nbsp;FaceAR&nbsp;SDK

			p See what you can do

			.btn-holder
				a.btn.btn-primary.btn-brand.btn-lg.border-sm-down(href="/request-sdk-demo") Request Demo
				a.btn.btn-secondary.btn-brand.btn-lg.border-sm-down(href="#" data-href="contact-section") Contact Us
		.col-lg-4
			img.d-none.d-lg-block.section-promo-img(srcset="assets/images/homepage/phone-with-mask.png, assets/images/homepage/phone-with-mask@2x.png 2x", src="assets/images/homepage/phone-with-mask.png", alt="")
	.scroll-line
		.decor-line 
		span SCROLL DOWN

section.section.section-video
	.brand-frame( data-aos="fade-up")
		.brand-holder
			.brand-decor-content
				.video-holder.embed-responsive.embed-responsive-16by9.video-banuba
					iframe.embed-responsive-item(src="https://www.youtube.com/embed/Rju8BGlPAoc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
