@mixin brand-border($bWidth) {
	border-style: solid;
	border-width: $bWidth;
	border-image-source: $brand-gradient;
	border-image-slice: 1;
}

.text-brand {
	background: $brand-gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

$brandHolderGapTop: 50px;
$brandHolderGapRight: 50px;

.brand {
	&-decor-content {
		position: relative;
		z-index: 3;
	}

	&-holder {
		position: relative;
		margin-right: $brandHolderGapRight;

		@include media-breakpoint-down(md) {
			margin-right: 0;
		}
	
		&:after {
			content:'';
			position: absolute;
			bottom: -$brandHolderGapTop;
			left: $brandHolderGapRight;
			width: 99%;
		    height: 99%;
		    box-sizing: content-box;
			z-index: 2;
			@include brand-border(5px);

			@include media-breakpoint-down(md) {
				display:none;
			}
		}
	}

	&-frame {
		position: relative;
		
		&:before {
			content:'';
			position: absolute;
			top: -12%;
		    right: -8%;
		    width: 47%;
		    height: 65%;
			z-index: 1;
			background: url("../assets/bg/decor-pattern.svg") no-repeat;
			background-size: 100% auto;

			@include media-breakpoint-down(md) {
				display:none;
			}
		}
	}
}

.scroll-line {
	display: flex;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 1px;
	
	span {
		opacity:.7;
	}
	.decor-line {
		margin-right: 20px;
	}

	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.decor-line {
	width: 2px;
	height: 100px;
	background: #474747;
	border-radius:1px;
	overflow:hidden;
	position:relative;
	

	&:after {
		content: '';
		width:100%;
		height:90%;
		background: $brand-gradient-bottom;
		border-radius:1px;
		position:absolute;
		top: 0;
		left: 0;
    	transform: translateY(-100%);
		animation: slideFromTop 1.5s linear infinite;
	}

	
}

.decor-triangle-line {
	background: url("../assets/bg/decor-line.svg") no-repeat;
	width: 100%;
    height: 26px;
    background-size: 100% 26px;
    margin: 35px 0;
    background-position: 50% 0;

    @include media-breakpoint-down(md) {
		background-size: 256% 26px;
	}
}

.bg-secondary {
	background: $brand-gradient;
}

.read-more {
	@extend .text-brand;
	display: inline-flex;
	align-items: center;
	position: relative;
	
	&:before {
		content: '';
		width: 70px;
		height: 2px;
		background: $brand-gradient;
		margin-right: 15px;
		
		@include media-breakpoint-down(md) {
			display: none;
		}
	}	
}


