.section-sdk {
	.section-text {
		text-align: center;
		margin: 0 auto;
		width: 90%;
		max-width: 580px;
		
		@include media-breakpoint-up(lg) {
			padding: 45px 0 0;
		}
	}

	h1 {

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}
}

.promo-info {
	padding: 140px 0 100px;
	justify-content: center;
	
	@include media-breakpoint-down(lg) {
		padding: 100px 0 70px;
	}

	@include media-breakpoint-down(md) {
		padding: 60px 0;
	}

	@include media-breakpoint-down(sm) {
		max-width: 320px;
	    margin: 0 auto;
	    padding: 22px 0 50px;
	}

	.col {
		text-align:center;

		@include media-breakpoint-down(sm) {
			width:106px;
			flex: none;
			padding-left: 10px;
		    padding-right: 10px;
		    margin: 0 15px -22px;
		}
	}
	
	&-item {
		width: 60%;
		padding-top: 60%;
		position: relative;
		display: inline-flex;
		transition: color 0.25s;
		transform: rotate(45deg) !important;
		
		@include media-breakpoint-down(lg) {
			width: 70%;
			padding-top: 70%;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			padding-top: 100%;
		}

		&::before,
	  	&::after {
		    border: 4px solid transparent;
		    width: 0;
		    height: 0;
		    box-sizing: inherit;
		    content: '';
		    position: absolute;
			box-sizing: border-box;
		}

		&::before {
			top: 0;
			left: 0;
			
			@include media-breakpoint-down(md) {
				border-color: $brand-gradient-middle;
				border-width: 2px;
				width: 100%;
				height: 100%;
			}
		}

		&::after {
			bottom: 0;
			right: 0;
			
			@include media-breakpoint-down(md) {
				border-color: $brand-gradient-middle;
				border-width: 2px;
				width: 100%;
				height: 100%;
			}
		}


		&.aos-animate  {
			&:before,
			&:after {
				width: 100%;
				height: 100%;
			}

			&:before {
				border-top-color: $brand-gradient-middle;
				border-right-color: $brand-gradient-middle;
				


				transition:
					width 0.5s ease-out, 
					height 0.5s ease-out 0.5s;
			}

			&:after {
				border-bottom-color: $brand-gradient-middle;
				border-left-color: $brand-gradient-middle;

				transition:
					border-color 0s ease-out 0.5s, 
					width 0.5s ease-out 1s, 
					height 0.5s ease-out 1.5s; 
			}


			span.max {
				animation: scale 1s linear 1.5s 1 normal none running;
			}		
		}
	}

	&-content {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		transform: rotate(-45deg);
	}

	span {
		font-size: 1.95rem;
		display: block;
		padding-bottom: 20px;
		
		@media all and (max-width: 1500px) {
			font-size: 1.1rem;
			padding-bottom: 0;
		}

		@include media-breakpoint-down(sm) {
			font-size: 0.6rem;
		}

		&.max {
			font-size: 4rem;
			line-height: 1;
			
			@include media-breakpoint-down(lg) {
				font-size: 2.5rem;
			}

			@include media-breakpoint-down(sm) {
				font-size: 1.25rem;
			}
		}
	}
}