head
	//- Required meta tags 
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="Banuba is a computer vision centric startup. Everything we do is around artificial intelligence, computer vision and other machine learning technologies.")
	link(rel="icon" type="image/png" href="assets/favicon/favicon.ico" sizes="16x16")
	link(rel="icon" href="assets/favicon/favicon-32.png" sizes="32x32")
	link(rel="icon" href="assets/favicon/favicon-192.png" sizes="192x192")
	title Banuba – AR: the future overlaid on today

	block preloaderStyles
	link(href='css/all.css?v=1.0.94' rel='stylesheet')

	