.form-heading
	h1.section-title.section-title-white Banuba can transform your&nbsp;business
	p Just write your email and we will answer you

form.form-inline.contact-form.form-light(action="#")
	.form-group
		.form-control-holder
			input.form-control.mr-2.js-contact-email(type="email", placeholder="Please enter your E-mail")
			.invalid-feedback Please enter a valid E-mail address
		button.btn.btn-outline-light.js-email-submit(type="submit") Send
