.modal.fade#modalSuccessSend(tabindex="-1", role="dialog", aria-labelledby="modalError", aria-hidden="true")
	.modal-dialog.modal-dialog-centered.modal-content-xl(role="document")
		.modal-content
			.modal-header
				h5.modal-title Successful sending!
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				.row.align-items-center
					.col-sm-4
						img.img-fluid.img-center(src="assets/images/contact/success-hand.svg")
					.col-sm-8
						p  Thanks for your email. 
						p  We will contact you as soon as possible.