.modal.fade#modalTechVideo.modal-video(tabindex="-1", role="dialog", aria-labelledby="modalError", aria-hidden="true")
	.modal-dialog.modal-dialog-centered.modal-lg(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				.js-video-tech.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src='', frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)