.modal.fade#modalError(tabindex="-1", role="dialog", aria-labelledby="modalError", aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title Error
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				p  Sorry, problem occured 