.social-list
	a(href="https://www.linkedin.com/company/banuba-development?originalSubdomain=ru", target="_blank")
		img(src="assets/icons/social/linkedin.svg", alt="linkedin", width="22", height="22")

	a(href="https://www.facebook.com/banubadevelopment/", target="_blank")
		img(src="assets/icons/social/facebook.svg", alt="facebook", width="12", height="21")

	a(href="https://twitter.com/BanubaFaceAR?lang=en", target="_blank")
		img(src="assets/icons/social/twitter.svg", alt="twitter", width="24", height="20")

	a(href="https://www.youtube.com/channel/UCnXZnhDdFv-1VC47PCY9Ptw", target="_blank")
		img(src="assets/icons/social/youtube.svg", alt="youtube", width="26", height="17")