.section-content-block
h2 Acknowledgements
p Portions of this Banuba Software utilizes the following copyrighted material, the use of which is hereby acknowledged.
hr
p HockeySDK-Android - Copyright (c) Microsoft Corporation. All rights reserved.
p android-remote-stacktrace - Copyright (c) 2009 nullwire aps
p Amplitude - Copyright (c) 2014 Amplitude
p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
hr
p By downloading, copying, installing or using the software you agree to this license. If you do not agree to this license, do not download, install, copy or use the software.
p License Agreement (3-clause BSD License)
p Open Source Computer Vision Library - Copyright (c) 2000-2016, Intel Corporation, all rights reserved, Copyright (c) 2009-2011, Willow Garage Inc., all rights reserved, Copyright (c) 2009-2016, NVIDIA Corporation, all rights reserved, Copyright (c) 2010-2013, Advanced Micro Devices, Inc., all rights reserved, Copyright (c) 2015-2016, OpenCV Foundation, all rights reserved; Copyright (c) 2015-2016, Itseez Inc., all rights reserved.
p Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
p Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
p Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
p Neither the names of the copyright holders nor the names of the contributors may be used to endorse or promote products derived from this software without specific prior written permission.
p This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed.
p In no event shall copyright holders or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.
hr
p Android Open Source Project - Copyright (c) 2010 The Android Open Source Project
p Retrofit - Copyright 2013 Square, Inc.
p Picasso - Copyright 2013 Square, Inc.
p LeakCanary - Copyright 2015 Square, Inc.
p Calligraphy - Copyright 2013 Christopher Jenkins
p TranslationViewDragHelper - Copyright 2016 Commit 451
p Duktape Android - Copyright 2015 Square, Inc.
p Eos – Copyright (c), Patrik Huber
p Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
p 
  a(href="http://www.apache.org/licenses/LICENSE-2.0", target="_blank") http://www.apache.org/licenses/LICENSE-2.0
p Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
p See the License for the specific language governing permissions and limitations under the License.
hr
p facebook-android-sdk - Copyright (c) 2014-present, Facebook, Inc. All rights reserved.
p You are hereby granted a non-exclusive, worldwide, royalty-free license to use copy, modify, and distribute this software in source code or binary form for use in connection with the web services and APIs provided by Facebook.
p As with any software that integrates with the Facebook platform, your use of this software is subject to the <a href="http://developers.facebook.com/policy/" target="_blank">Facebook Developer Principles and Policies</a>. This copyright notice shall be included in all copies or substantial portions of the software.
p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
hr
p jbox2d library - Copyright (c) 2013, Daniel Murphy. All rights reserved.
p Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
p Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
p Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
p THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
hr
p Eigen Library - Copyright (c) Eigen Authors
p Distributed under the Mozilla Public License 2.0 available at <a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">https://www.mozilla.org/en-US/MPL/2.0/</a>. You may find the source code and copyright information for Eigen Library under the following link: <a href="http://eigen.tuxfamily.org/index.php?title=Main_Page" target="_blank">http://eigen.tuxfamily.org/index.php?title=Main_Page</a>.
