.section-content-block
    p The App MojiCam contains the following open source code and free fonts under the SIL Open Font License, Version 1.1.
    ul.content-list
        li Copyright © &lt;Copyright Holder&gt; (&lt;Impallari Type (Pablo Impallari) | <a href="http://www.impallari.com/" target="_blank">http://www.impallari.com</a>&gt;), with Reserved Font Name &lt;Raleway&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Alejandro Inler&gt;), with Reserved Font Name &lt;Wendy One&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Vernon Adams <a href="http://code.newtypography.co.uk/"  target="_blank">http://code.newtypography.co.uk/</a>&gt;), with Reserved Font Name &lt;Paytone One&gt;, &lt;Bangers regular&gt;, &lt;Sigmar One&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Sorkin Type Co | <a href="http://sorkintype.com/"  target="_blank">http://sorkintype.com</a>&gt;), with Reserved Font Name &lt;Kavoon Regular&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Rodrigo Fuenzalida | <a href="http://www.rfuenzalida.com/"  target="_blank">http://www.rfuenzalida.com</a>&gt;), with Reserved Font Name &lt;Titan One Regular&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt; Astigmatic One Eye Typographic Institute (Brian J.Bonislawsky) | <a href="http://www.astigmatic.com/"  target="_blank">http://www.astigmatic.com</a>&gt;), with Reserved Font Name &lt;Spicy Rice&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Milena Brandao&gt;), with Reserved Font Name &lt;Freedoka One&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Gustavo Dipre&gt;), with Reserved Font Name &lt;Gorditas Regular&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Sorkin Type Co&gt;), with Reserved Font Name &lt;Kavoon&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Vernon Adams&gt;), with Reserved Font Name &lt;Bangers&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Gesine Todt&gt;), with Reserved Font Name &lt;Leckerli One&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Astigmatic One Eye Typographic Institute&gt;), with Reserved Font Name &lt;Mouse Memoirs&gt;.
        li Copyright © &lt;Copyright Holder&gt; (&lt;Ek Type&gt;), with Reserved Font Name &lt;Baloo Tamma&gt;.
    p The App FaceKick contains the following open source code and free fonts under the SIL Open Font License, Version 1.1.
    ul.content-list
        li Copyright © Fontstage with Reserved Name Passion One Font

    p This license is copied below, and is also available with a FAQ at: <a href="http://scripts.sil.org/OFL"  target="_blank">http://scripts.sil.org/OFL</a>
.section-content-block
    h2 Sil open font license Version 1.1 - 26 February 2007
    p.font-weight-light PREAMBLE
    p The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative font projects, to support the font creation efforts of academic and linguistic communities, and to provide a free and open framework in which fonts may be shared and improved in partnership with others.
    p The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as long as they are not sold by themselves. The fonts, including any derivative works, can be bundled, embedded,&nbsp; redistributed and/or sold with any software provided that any reserved names are not used by derivative works. The fonts and derivatives, however, cannot be released under any other type of license. The requirement for fonts to remain under this license does not apply to any document created using the fonts or their derivatives.
.section-content-block
    p.font-weight-light DEFINITIONS

    p "Font Software" refers to the set of files released by the Copyright Holder(s) under this license and clearly marked as such. This may include source files, build scripts and documentation.
    p "Reserved Font Name" refers to any names specified as such after the copyright statement(s).
    p "Original Version" refers to the collection of Font Software components as distributed by the Copyright Holder(s).
    p "Modified Version" refers to any derivative made by adding to, deleting, or substituting -- in part or in whole -- any of the components of the Original Version, by changing formats or by porting the Font Software to a new environment.
    p "Author" refers to any designer, engineer, programmer, technical writer or other person who contributed to the Font Software.
.section-content-block
    p.font-weight-light PERMISSION &amp; CONDITIONS
    p Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the Font Software, subject to the following conditions:

    ol
        li Neither the Font Software nor any of its individual components, in Original or Modified Versions, may be sold by itself.
        li Original or Modified Versions of the Font Software may be bundled, redistributed and/or sold with any software, provided that each copy contains the above copyright notice and this license. These can be included either as stand-alone text files, human-readable headers or in the appropriate machine-readable metadata fields within text or binary files as long as those fields can be easily viewed by the user.
        li No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit written permission is granted by the corresponding Copyright Holder. This restriction only applies to the primary font name as presented to the users.
        li The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) of the Copyright Holder(s) and the Author(s) or with their explicit written permission.
        li The Font Software, modified or unmodified, in part or in whole, must be distributed entirely under this license, and must not be distributed under any other license. The requirement for fonts to remain under this license does not apply to any document created using the Font Software.
.section-content-block
    p.font-weight-light TERMINATION
    p This license becomes null and void if any of the above conditions are not met.
.section-content-block
    p.font-weight-light DISCLAIMER
    p THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIA DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.
    p The App MojiCam contains the following open source code and free fonts under the Apache License, Version 2.0 (the "License")
    p Copyright © Astigmatic One Eye Typographic Institute (Brian J. Bonislawsky) | <a href="http://www.astigmatic.com/"  target="_blank">http://www.astigmatic.com</a> with Reserved Font Name «Luckiest guy»
    p Copyright © Astigmatic One Eye Typographic Institute (Brian J. Bonislawsky) | <a href="http://www.astigmatic.com/"  target="_blank">http://www.astigmatic.com</a> with Reserved Font Name «Luckiest guy»
    p You may obtain a copy of the License at <a href="http://www.apache.org/licenses/LICENSE-2.0"  target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>
    p Unless required by applicable law or agreed to in writing, software distributed under the License is distributed  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License Fabric: Copyright 2017 Twitter, Inc. All Rights Reserved. Use of this software is subject to the terms and conditions of the Fabric Software and Services Agreement located at <a href="https://fabric.io/terms. OSS"  target="_blank">https://fabric.io/terms</a>.  OSS:
    p <a href="http://get.fabric.io/terms/opensource.txt"  target="_blank">http://get.fabric.io/terms/opensource.txt</a>
    p Copyright © 2016 Tapdaq
    p The MIT License (MIT)

    p The App FaceKick contains the following open source code and free fonts under the Paratype PT Sans Free Font License v1.00
    p <i>This license can also be found at this permalink: <a href="https://www.fontsquirrel.com/license/pt-sans"  target="_blank">https://www.fontsquirrel.com/license/pt-sans</a></i>
    p Copyright © 2009 ParaType Ltd.
    p with Reserved Names "PT Sans" and "ParaType".
.section-content-block
    p.font-weight-light FONT LICENSE
    p.font-weight-light PERMISSION &amp; CONDITIONS
    p Permission is hereby granted, free of charge, to any person obtaining a copy of the font software, to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the font software, subject to the following conditions:
    ol
        li Neither the font software nor any of its individual components, in original or modified versions, may be  sold by itself.
        li Original or modified versions of the font software may be bundled, redistributed and/or sold with any software, provided that each copy contains the above copyright notice and this license. These can be included either as stand-alone text files, human-readable headers or in the appropriate machine-readable  metadata fields within text or binary files as long as those fields can be easily viewed by the user.
        li No modified version of the font software may use the Reserved Name(s) or combinations of Reserved Names with other words unless explicit written permission is granted by the ParaType. This restriction only applies to  the primary font name as presented to the users.
        li The name of ParaType or the author(s) of the font software shall not be used to promote, endorse or advertise any modified version, except to acknowledge the contribution(s) of ParaType and the author(s) or with explicit written permission of ParaType.
        li The font software, modified or unmodified, in part or in whole, must be distributed entirely under this license, and must not be distributed under any other license. The requirement for fonts to remain under this license does not apply to any document created using the Font Software.

.section-content-block
    p.font-weight-light TERMINATION &amp; TERRITORY
    p This license has no limits on time and territory, but it becomes null and void if any of the above conditions are not met.
.section-content-block
    p.font-weight-light DISCLAIMER
    p THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL PARATYPE BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.
    p ParaType Ltd
    p <a href="http://www.paratype.ru"  target="_blank">http://www.paratype.ru</a>