.section-content-block
  p
    small Last updated 20 August 2018 
  p Banuba Limited, having its registered address at Office A, 16/F Heng Shan Centre 145 Queen’s Road East, Wan Chai, Hong Kong, reg. No. 2360577, together with companies in the same corporate group, take Your privacy very seriously. Please, read carefully this Privacy Policy as it sets out Our data processing practices with respect to Your data collected via Banuba App.  
  p This Privacy Policy is an integral part of Our 
    a(href="https://banuba.com/terms") Terms and Conditions 
    | . All the definitions used in this Privacy Policy shall have the same meaning as provided in Our Terms and Conditions. 
  .content-box
    p.font-weight-light THIS STATEMENT SHALL BE APPLIED IN EXEPTIONAL CASES AS EXPLICETELY SPECIFIED IN THE APP. 
    p From time to time upon 
      u.font-weight-bold Your consent only
      |  we may collect, store, create a dataset, transfer or process Your personal information (Your facial images) in any other manner communicated to You directly:  
    ol
      li We will collect only the minimum amount of Your images required to achieve the specified purpose. 
      li We will do our utmost to collect, process, store and transfer Your images in an effective and responsible manner.    
      li
        u We may sell dataset based on Your images upon Your explicit consent to third parties to be used for research purposes.  
      li In keeping with the key privacy protection principle “the right to be forgotten”, Banuba will maintain Your personal data only as long as necessary. Should we receive a request that You wish Your images and the respective dataset to be deleted from the record, we will do so.  
      li Please 
        span.font-weight-light DO NOT GIVE YOUR CONSENT
        |  if You do not wish Your images to be collected, stored or sold to 3
        sup rd
        |  parties recipients.
    p.font-weight-light HOW BANUBA COLLECTS YOUR IMAGES 
    p When You open the App We may ask for Your explicit consent to collect and transfer Your facial image to 3<sup>rd</sup> party recipient for research purposes. By clicking AGREE, You will provide Us with three facial images. We will then introduce beautification changes into the provided images of You using our facial recognition technologies and make a dataset of Your initial images and modified images. 
    p.font-weight-light WHAT WE DO WITH YOUR DATA 
    p The dataset shall be stored on Banuba’s data servers until We transfer the dataset to 3<sup>rd</sup> party recipient for the purpose specified when we collected the explicit consent from You. As soon as the dataset is transferred to 3<sup>rd</sup>  party recipient, that dataset shall be erased from our servers and will not be restored. The retention period on our data servers shall not exceed 3 months after You grant a consent to Us. The dataset shall be erased by 3<sup>rd</sup> party recipient upon its research goal accomplishment. 
    p.font-weight-light CAUTION  
    p As we do not verify Your identity, it is Your responsibility to warrant that it is Your user content You are uploading and no third party’s content is collected and processed in the App. 
    p.font-weight-light PRIVACY POLICY APPLICATION 
    p If you grant Your explicit consent for the processing of Your images this Privacy Policy shall be applied to the extent, which doesn’t contradict the purpose of Your consent. 

.section-content-block
  h2 1. Acceptance of this privacy policy
  p 1.1 By using Banuba App You express Your acceptance of this Privacy Policy, as such Policy may be amended from time to time. Each time You use Banuba App, You agree and expressly consent to Our collection, use, storage, transfer and disclosure of the information that You provide as described in this Policy.  
  p 1.2 If You do not agree to be bound by this Privacy Policy then, please, do not use Banuba App. The current version of this Privacy Policy shall be always available in Banuba App. 
.section-content-block
  h2 2. Information collected 
  p 2.1 To enable functioning of Banuba App We shall collect Your device identifier. Without <strong>device identifier</strong> We are not able to provide Services to You, as are not able to identify Your Device across the devices of other Banuba App users. 
  p 2.2 For the purposes of attribution and tracking the performance of Our advertising campaigns and applications, including their effectiveness, usage, installations and downloads, We engage advertising and analytics third party providers (hereinafter – <strong>Providers</strong>). 
  p#section-2-3 2.3 The Providers may collect the following personal information about users of the Devices: <strong>IP address, advertising IDs assigned by Our Providers, browsing behavior and location data</strong>. Such information shall be collected directly by Providers and subsequently shall be shared with Us. The Providers may combine such information with other personal information they have in their procession and may use it for targeted advertising, i.e. for showing the most relevant ads to You across Internet network. 
  p#section-2-4 2.4 As Banuba App functionality is fully based on face detection, in order to use Banuba App We shall need Banuba App to process Your <strong>images taken by the Device camera</strong>. However, all the images taken by the camera shall be processed solely on Your Device and shall not be sent to Our servers, i.e. We shall have no access to such images (<strong>We shall not collect, share or store them</strong>).  
  p 2.5 Banuba App face detection algorithms used within processing of Your images are not able to identify a specific person and, therefore, generally cannot be considered as collecting biometric information. However, in case the applicable law stipulates that images captured by the camera or face geometry generated by Banuba App are considered as <strong>biometric identifiers, biometric information or similar legal category</strong>, hereby You express Your informed written consent on their processing as described in this Policy. 
  p 2.6 We may also collect other data about Your Devices that do not permit direct association with You, such as the operating system, settings, language, wireless network, mobile network information, software and hardware attributes.  
  p 2.7 We do not directly collect personally identifiable information about Your online activities over time and across third-party websites or online services, but such information is collected by Our Providers which may share it with Us. Our Providers generally do not respond to Do Not Track (DNT) signals or other mechanisms that provide You with the ability to exercise choice regarding the collection of such information. Nevertheless, if You want Us not to use, or to stop using, such Providers in relation to You, please do not give, or withdraw, Your consent mentioned in <a data-href="section-3-2" href="#section-3-2">Clause 3.2</a>. 
.section-content-block
  h2 3. Basis for processing
  p 3.1 Processing of Your data, mentioned in Clause 2.1 and <a data-href="section-2-4" href="#section-2-4">Clause 2.4</a>, is required for the provision of Services to You.
  p#section-3-2 3.2 Processing of Your personal data, mentioned in <a data-href="section-2-3" href="#section-2-3">Clause 2.3</a> , is based on Your consent to such processing, which is given by clicking a special checkbox available in Banuba App (named “consent to processing of personal data for advertising and analytics purposes”). By giving Your consent to processing of Your personal data for advertising and analytics purposes You agree to:
  ul.content-list
    li collection of personal data mentioned in Clause 2.3;
    li collection of information about Your online activities as described in Clause 2.7;
    li processing of Your personal data (both collected by Us and Our Providers) for the purposes mentioned in Clause 4.2; 
    li automated decision making in accordance with Clause 4.5; 
    li sharing of Your personal data with advertising and analytics third party providers (Clause 5.1). 
  p#section-3-3 3.3 You can withdraw Your consent to processing of Your personal data (where We are relying on consent to process Your personal data) at any time by simply managing the collection of data via Settings of Your device (by unclicking the checkbox “Sending analytics” in access rights section of device Settings). If You deleted Banuba App and, as a result, cannot withdraw You consent via Your device Settings, You may withdraw Your consent by contacting Us via <a href="mailto:legal@banuba.com">legal@banuba.com</a>. 
.section-content-block
  h2#section-4 4. Purposes of processing 
  p 4.1 We will use (process) data collected under this Privacy Policy for the purposes of:
  ul.content-list
    li delivering the Services to You (including, maintaining and monitoring the proper operation of Banuba App, fixing any problems in its operation, dealing with Your enquiries, complaints and requests); 
    li ensuring and protecting the safety and security of Banuba App, protecting Our Intellectual Property Rights and other rights. 
  p#section-4-2 4.2 Personal data mentioned in <a data-href="section-2-3" href="#section-2-3">Clause 2.3</a> shall be processed by Us and Our Providers for the purposes of: 
  ul.content-list
    li attribution and tracking the performance of Our advertising campaigns and applications, including their effectiveness, usage, installations and downloads; 
    li targeted advertising, i.e. for showing the most relevant ads to You across Internet network; 
    li conducting statistical and analytical surveys and researches, in particular for improving the Services and Your user experience, providing Services to You in accordance with Your preferences. 
  p 4.3 In case You voluntarily provide Us with any additional personal data, We shall process these data solely for the purposes for which they were provided to Us and for no longer they are needed to fulfil such purposes. 
  p 4.4 We limit access to data We hold about You to employees who We believe reasonably need to come into contact with that information to provide Services to You or in order to fulfil their official duties. These employees are bound by confidentiality obligations and may be subject to liability, if they fail to meet these obligations. We will take all steps reasonably necessary to ensure that Your data are treated securely and in accordance with this Privacy Policy. 
  p 4.5 In case You give Your consent mentioned in <a data-href="section-3-2" href="#section-3-2">Clause 3.2</a>, the information collected via Banuba App shall be used for automated decision making, as Our Providers perform their advertising and analytics services based on automated analysis of Your browsing behaviour. As a consequence of automated decision making:  
  ul.content-list
    li You will receive advertisements throughout the Internet which the system considers the most relevant to You, and 
    li We shall set certain preferences within Your usage of Banuba App (apply different prices, provide different filters, etc.). 
  p In case You don’t want to be subject to automated decision making please do not give Your consent mentioned in <a data-href="section-3-2" href="#section-3-2">Clause 3.2</a> . 
  p 4.6 We will ask for Your separate permissions to use Your camera and microphone, as well as for sending push notifications to You. If You change Your mind re permissions granted, You will be able to revoke them at any time afterwards by changing settings on Your Device. However, please note that rejecting or switching off these permissions shall negatively affect the use of Banuba App: Banuba App shall lose its full functionality. 
.section-content-block
  h2 5. Sharing of data 
  p#section-5-1 5.1 You agree that We may share Your data when this is needed for the purposes of processing with the following categories of recipients:  
  ul.content-list
    li the companies being in the same corporate group with Us; 
    li data storage, networking and security providers; 
    li advertising and analytics third party providers (<strong>upon Your consent only</strong>); 
    li providers assisting Us with client support; 
    li any other providers assisting Us with delivering and improving the Services for You. 
  p 5.2 We may also share some non-personal information with Our Providers when this is needed the purposes outlined in <a data-href="section-4-2" href="#section-4-2">Clause 4.2</a> . 
  p 5.3 We may also share Your data when it is required by law and/or any regulatory authority. In such circumstances, We will expressly inform the recipient of the confidential nature of the data shared.  
  p 5.4 Our third-party providers with whom We share Your data or which directly collect such data via integration with Banuba App may be located in non-EEA countries, where data protection and privacy regulations may be different from Your home country and offer even lower level of protection. You acknowledge and give Your consent to such transfer and processing of Your data out of EEA to the countries where data protection and privacy regulations may be different from Your home country and offer even lower level of protection. To safeguard Your interests when transferring Your personal data out of EEA, We will conclude with all out-of-EEA recipients standard data protection clauses adopted by the European Commission or Our supervisory authority. 
  p 5.5 All the third parties with which We share Your data only get the minimum amount of data that are reasonably required in order for them to provide their service to Us and therefore to You. The use of the shared information by such third parties is strictly limited to the purposes of processing outlined in <a data-href="section-4" href="#section-4">Section 4</a> and is not permitted for any other purpose. All third parties with which We share Your data are required to protect such data in accordance with all relevant laws and regulations and in a manner similar to the way We protect the same.  
  p 5.6 We will not share Your data with third parties which are considered as not being able to provide its clients and potential client with the required level of protection. 
  p 5.7 You give Your consent to processing of Your data by third parties described in <a data-href="section-5-1" href="#section-5-1">Clause 5.1</a> as provided by this Privacy Policy. 
.section-content-block
  h2 6. Your rights 
  p 6.1 With respect to Your personal data We process (if any) You have the right:
  ul.content-list
    li to obtain from Us the information regarding Our processing of Your personal data; 
    li to obtain from Us without undue delay the rectification of inaccurate personal data concerning You; 
    li to obtain from Us the erasure of Your personal data (Your ‘right to be forgotten’); 
    li to restrict Our processing of Your personal data, when it is permitted under applicable law; 
    li to obtain from Us Your personal data in a structured, commonly used and machine-readable format and to transmit those data to another controller without any obstacle on Our side; 
    li to withdraw Your consent to Our processing of Your personal data (where We are relying on consent to process Your personal data) by following the procedure described in <a data-href="section-3-3" href="#section-3-3">Clause 3.3</a>; 
    li to lodge a complaint against Us with a supervisory authority for GDPR purposes. 
.section-content-block
  h2 7. Period of processing 
  p 7.1 We shall store Your personal data <strong>for three months after Your latest use of Banuba App</strong>, unless You give Us Your explicit consent to process them for a longer period of time. In case You do not use Banuba App for three subsequent months We will consider that You terminated using Banuba App and, as the result, We shall delete all Your personal data. Please note that if You delete Banuba App earlier We will not know that and shall continue storing Your data unless a 3-months’ period expires. 
  p 7.2 With respect to non-personal data We are not limited by any particular retention period. 
.section-content-block
  h2 8. Privacy policy updates 
  p 8.1 We shall update this Privacy Policy from time to time. In the event We materially change this Privacy Policy including how We collect, process or use Your personal data, You will receive the respective notification via Banuba App. In case You continue to use Banuba App after You have received the notification about the changes We presume that You have read the new Privacy Policy and accept all the introduced changes. 
  p 8.2 Any changes to this Privacy Policy shall become effective immediately upon their posting in Banuba App. It is Your responsibility to periodically review this Privacy Policy to be aware of the current changes (as We will notify You only about the material changes). 
  p 8.3 If You do not accept Privacy Policy following an amendment, do not start or continue to use Banuba App. 
.section-content-block
  h2 9. Questions and complaints 
  p 9.1 If You have any requests concerning Your personal information or any queries with regard to this Privacy Policy please feel free to contact Us via <a href="mailto:legal@banuba.com">legal@banuba.com</a>. 
  p 9.2 If You consider that Our collection, usage, disclosure and/or storage of Your personal information violate any applicable data protection laws We are bound by, please refer Your complaints to <a href="mailto:legal@banuba.com">legal@banuba.com</a>. We will consider them within reasonable time and provide You with an answer.  
