.section-content-block
  p These Terms and Conditions (“Agreement”) constitute a legally binding agreement made between You, whether personally or on behalf of an entity (“You”) and Banuba Limited (“Banuba”, “We,” “Us” or “Our”), concerning Your access to and use of mobile applications owned, published or distributed by Banuba (the “Apps”): <b>FaceKick App, VideoMoji App, MojiCam App</b> (collectively, the “Services”). 
  p.font-weight-light
    em The Site is intended for users at least 16 years old. 
  p.font-weight-light
    em The Apps are intended for users who are of the minimum age specified by the relevant Applications Stores, where the Apps are available for downloading. 
  p You agree that by accessing and using the Services You have read, understood, and agreed to be bound by this Agreement and warrant that You have the right, authority, and capacity to enter into this Agreement. <span class="font-weight-light">IF YOU DO NOT AGREE WITH ALL THESE TERMS AND CONDITIONS HEREUNDER, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE TO USE THEM IMMEDIATELY. </span>
  p Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to this Agreement at any time and for any reason. We will alert You about any changes by updating the “Last updated” date of the Agreement and You waive any right to receive specific notice of each such change. It is Your responsibility to periodically review this Agreement to stay informed of updates. You will be subject to and will be deemed to have been made aware of and to have accepted, the changes in any revised Agreement by Your continued use of the Services after the date such revised Agreement are posted. 
  p The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those who choose to access the Services from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable. 
  p This Agreement requires the use of arbitration on an individual basis to resolve disputes, rather than jury trials or class actions, and also limits the remedies available to You in the event of a dispute. 
  p This Agreement is the final, complete and exclusive agreement between You and Banuba with respect to the subject matters hereof (including any Services) and supersedes and merges all prior discussions and agreements between the parties with respect to such subject matters (including any prior End User License Agreements, Terms of Service or Privacy Policy).


.section-content-block
  h2 1. End user license agreement 
  p
    b 1.1. License 
  p If You access the Services via a mobile application, then we grant You a revocable, non-exclusive, non-transferable, limited right to install and use the mobile application on wireless electronic devices owned or controlled by You. You are to access and use the mobile application on such devices strictly in accordance with the terms and conditions of this mobile application license contained in these Terms of Use (the “License”). 
  p
    b 1.2. Certain Restrictions 
  p You shall not:
  ol
    li decompile, reverse engineer, disassemble, attempt to derive the source code of, or decrypt the application; 
    li make any modification, adaptation, improvement, enhancement, translation, or derivative work from the application; 
    li violate any applicable laws, rules, or regulations in connection with Your access or use of the application; 
    li remove, alter, or obscure any proprietary notice (including any notice of copyright or trademark) posted by us or the licensors of the application; 
    li use the application for any revenue generating endeavour, commercial enterprise, or other purpose for which it is not designed or intended; 
    li make the application available over a network or other environment permitting access or use by multiple devices or users at the same time; 
    li use the application for creating a product, service, or software that is, directly or indirectly, competitive with or in any way a substitute for the application; 
    li use the application to send automated queries to any website or to send any unsolicited commercial e-mail; or 
    li use any proprietary information or any of our interfaces or our other intellectual property in the design, development, manufacture, licensing, or distribution of any applications, accessories, or devices for use with the application. 
  p Any future release, update, or other addition to functionality of any Services (including in-App purchases, additional levels, and gameplay enhancements) shall be subject to the terms of this Agreement, unless otherwise provided in terms associated with such addition. All copyright and other proprietary notices on any Services content must be retained on any copies. 
  p
    b 1.3. Acceptable Use Policy and prohibited activities 
  p The following sets forth Banuba’s “Acceptable Use Policy”: 
  p You may not access or use the Services for any purpose other than that for which we make the Services available. The Services may not be used in connection with any commercial endeavours except those that are specifically endorsed or approved by Us. 
  p As a user of the Services, You agree not to: 
  ul.content-list
    li systematically retrieve data or other content from the Services to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us; 
    li make any unauthorized use of the Services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses; 
    li use a buying agent or purchasing agent to make purchases on the Services; 
    li use the Services to advertise or offer to sell goods and services; 
    li circumvent, disable, or otherwise interfere with security-related features of the Services, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Services and/or the Content contained therein; 
    li engage in unauthorized framing of or linking to the Services; 
    li trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords; 
    li make improper use of our support services or submit false reports of abuse or misconduct; 
    li engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools; 
    li interfere with, disrupt, or create an undue burden on the Services or the networks or services connected to the Services; 
    li attempt to impersonate another user or person or use the username of another user; 
    li sell or otherwise transfer Your profile; 
    li use any information obtained from the Services in order to harass, abuse, or harm another person; 
    li use the Services as part of any effort to compete with Us or otherwise use the Services and/or the Content for any revenue-generating endeavour or commercial enterprise; 
    li decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Services; 
    li attempt to bypass any measures of the Services designed to prevent or restrict access to the Services, or any portion of the Services; 
    li harass, annoy, intimidate, or threaten any of Our employees or agents engaged in providing any portion of the Services to You; 
    li delete the copyright or other proprietary rights notice from any Content; 
    li copy or adapt the Services’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code; 
    li upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Services or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Services; 
    li upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange formats (“gifs”), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as “spyware” or “passive collection mechanisms” or “pcms”); 
    li except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Services, or using or launching any unauthorized script or other software; 
    li disparage, tarnish, or otherwise harm, in our opinion, us and/or the Services; 
    li use the Services in a manner inconsistent with any applicable laws or regulations. 
  p You are solely responsible for compliance with all applicable laws, including without limitation export and import regulations. 
  p
    b 1.4. Modifications and Interruption 
  p Banuba reserves the right, at any time, to modify, suspend, or discontinue the Services or any part thereof with or without notice. You agree that Banuba will not be liable to You or to any third party for any modification, suspension, or discontinuance of any App or any part thereof. 
  p We cannot guarantee the Services will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Services, resulting in interruptions, delays, or errors. We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the Services at any time or for any reason without notice to You. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by Your inability to access or use the Services during any downtime or discontinuance of the Services. Nothing in these Terms of Use will be construed to obligate Us to maintain and support the Services or to supply any corrections, updates, or releases in connection therewith. 
  p
    b 1.5. Ownership 
  p Services provided to You are licensed to You and not sold. Banuba (and its licensors, where applicable) own all right, title and interest, including all related intellectual property rights, in and to all Apps, excluding Your User Content (defined below). This Agreement is not a sale and does not convey to You any rights of ownership in or related to any Services. The Banuba name, logo, and the product names associated with the Services belong to Banuba (or its licensors, where applicable), and no right or license is granted to use them by implication, estoppel or otherwise. Banuba (and its licensors, where applicable) reserves all rights not granted in this Agreement. 
  p
    b 1.6. Ads 
  p When You start or stop an Services, it may display an ad. We allow advertisers to display their advertisements and other information in certain areas of the Services during the gameplay, such as sidebar advertisements or banner advertisements. We simply provide the space to place such advertisements and have no other relationship with advertisers. 


.section-content-block
  h2 2. User content 
  p
    b 2.1. User Content 
  p The Services may invite You to chat, contribute to, or participate in blogs, message boards, online forums, and other functionality, including without limitation AR and VR tools and technologies available via the Services, and may provide You with the opportunity to create, submit, post, display, transmit, perform, publish, distribute, share or broadcast content and materials to us or third parties, including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or personal information or other material (collectively, “User Content”). You assume all risks associated with use of Your User Content, including any reliance on its accuracy, completeness or usefulness by others, or any disclosure of Your User Content that makes the User Content viewable by other users of the Services or available for sharing using the Services tools or that makes You or any third party personally identifiable. You acknowledge and agree that any User Content You transmit may be treated as non-confidential and non-proprietary. 
  p When You create or make available any User Content, You thereby represent and warrant that: 
  ul.content-list
    li the creation, distribution, transmission, public display, or performance, and the accessing, downloading, or copying of Your User Content do not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret, or moral rights of any third party; 
    li You are the creator and owner of or have the necessary licenses, rights, consents, releases, and permissions to use and to authorize us, the Services, and other users of the Services to use Your User Content in any manner contemplated by the Services and these Terms of Use; 
    li You have the written consent, release, and/or permission of each and every identifiable individual person in Your User Content to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of Your User Content in any manner contemplated by the Services and these Terms of Use; 
    li Your User Content are not false, inaccurate, or misleading; 
    li Your User Content are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation; 
    li Your User Content are not obscene, lewd, lascivious, filthy, violent, harassing, libelous, slanderous, or otherwise objectionable (as determined by us); 
    li Your User Content do not ridicule, mock, disparage, intimidate, or abuse anyone; 
    li Your User Content do not advocate the violent overthrow of any government or incite, encourage, or threaten physical harm against another; 
    li Your User Content do not violate any applicable law, regulation, or rule; 
    li Your User Content do not violate the privacy or publicity rights of any third party; 
    li Your User Content do not contain any material that solicits personal information from anyone under the age of 18 or exploits people under the age of 18 in a sexual or violent manner; 
    li Your User Content do not violate any federal or state law concerning child pornography, or otherwise intended to protect the health or well-being of minors; 
    li Your User Content do not include any offensive comments that are connected to race, national origin, gender, sexual preference, or physical handicap; 
    li Your User Content do not otherwise violate, or link to material that violates, any provision of these Terms of Use, or any applicable law or regulation. 
  p Any use of the Services in violation of the foregoing violates these Terms of Use and may result in, among other things, termination or suspension of your rights to use the Services. 
  p
    b 2.2. License 
  p By creating, submitting, posting, displaying, transmitting, performing, publishing, distributing, sharing or broadcasting creation of Your User Content using available AR, VR or other tools of the Services or otherwise making it accessible to any part of the Services, including by linking Your account from the Services to any of Your social networking accounts, if applicable, You automatically grant, and You represent and warrant that You have the right to grant, to Banuba an unrestricted, unlimited, irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully-paid, worldwide right, and license to host, use, copy, reproduce, disclose, sell, resell, publish, broadcast, retitle, archive, store, cache, publicly perform, publicly display, reformat, translate, transmit, excerpt (in whole or in part), and distribute such User Content (including, without limitation, Your image and voice) for any purpose, commercial, advertising, or otherwise, and to prepare derivative works of, or incorporate into other works, such User Content, and grant and authorize sublicenses of the foregoing. The use and distribution may occur in any media formats and through any media channels. 
  p This license will apply to any form, media, or technology now known or hereafter developed, and includes our use of Your name, company name, and franchise name, as applicable, and any of the trademarks, service marks, trade names, logos, and personal and commercial images You provide. You waive all moral rights in Your User Content, and You warrant that moral rights have not otherwise been asserted in Your User Content. 
  p We do not assert any ownership over Your User Content. You retain full ownership of all of Your User Content and any intellectual property rights or other proprietary rights associated with Your User Content. We are not liable for any statements or representations in Your User Content provided by You in any area on the Services. You are solely responsible for Your User Content to the Services and You expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against us regarding Your User Content. 
  p
    b 2.3. Feedback 
  p If You provide BANUBA any feedback, submissions or suggestions (“Feedback”), you hereby assign to BANUBA all rights in the Feedback and agree that BANUBA shall have the right to unrestricted use and dissemination of such Feedback and related information in any manner it deems appropriate for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to You. You hereby waive all moral rights to any such Feedback and You hereby warrant that any such Submissions are original with You or that You have the right to submit such Feedback. BANUBA will treat any Feedback you provide to BANUBA as non-confidential and non-proprietary. You agree that You will not submit to BANUBA any information or ideas that You consider to be confidential or proprietary. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in Your Submissions. 
  p 
    b 2.4. Enforcement 
  p We reserve the right (but have no obligation) to review any User Content in our sole discretion. We have the right, in our sole and absolute discretion, (1) to edit, redact, or otherwise change any User Content; (2) to re-categorize any User Content to place them in more appropriate locations on the Services; and (3) to pre-screen or delete any User Content at any time and for any reason, without notice. We have no obligation to monitor Your User Content. You may not state or imply that Your User Content is in any way provided, sponsored or endorsed by BANUBA. BANUBA is not obligated to backup any User Content and User Content may be deleted at any time. You are solely responsible for creating backup copies of Your User Content if You desire. 


.section-content-block
  h2 3. Term and termination 
  p 3.1. This Agreement commences on the date You accept this Agreement (as described in the preamble) and will remain in full force and effect while You use the Services, unless earlier terminated in accordance with this Agreement. 
  p 3.2 Notwithstanding the foregoing, if You used any Services prior to the date You accepted this Agreement (as described in the preamble), You hereby acknowledge and agree that this Agreement commences on the date You first use any Services (whichever is earlier and which may be prior to the Agreement Version Date) and will remain in full force and effect while You use any Services, unless earlier terminated in accordance with this Agreement. 
  p 3.3 We may (a) suspend Your rights to use any Services, and/or any related services or (b) terminate this Agreement, at any time for any reason at our sole discretion with or without notice to You, including if we in good faith believe You have violated the Acceptable Use Policy or any other provision of this Agreement. Without limiting the foregoing, BANUBA reserves the right to terminate its Agreement with any user who repeatedly infringes third party copyright rights upon prompt notification to BANUBA by the copyright owner or the copyright owner’s legal agent. 
  p 3.4 Upon termination of this Agreement, Your right to use the Services will automatically terminate immediately. You understand that any termination may involve deletion of Your User Content associated therewith from our live databases. BANUBA will not have any liability whatsoever to You for any termination of this Agreement, including deletion of Your User Content. Even after this Agreement is terminated, the following provisions of this Agreement will remain in effect: Sections 1.2, 1.3, 1.4, 1.5, 2, 3.4, 4, 5, 6, 7, 8, and 9. 


.section-content-block
  h2 4. Indemnity 
  p You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1) Your User Content; (2) use of the Services; (3) breach of these Terms of Use; (4) any breach of Your representations and warranties set forth in these Terms of Use; (5) Your violation of the rights of a third party, including but not limited to intellectual property rights; or (6) any overt harmful act toward any other user of the Services with whom You connected via the Services. BANUBA reserves the right, at Your expense, to assume the exclusive defense and control of any matter for which You are required to indemnify BANUBA and You agree to cooperate with our defense of these claims. You agree not to settle any matter without the prior written consent of BANUBA. BANUBA will use reasonable efforts to notify You of any such claim, action or proceeding upon becoming aware of it. 


.section-content-block
  h2 5. Third parties 
  p
    b 5.1. Application Stores 
  p You acknowledge and agree that the availability of the Services is dependent on the third party from which You received Services, e.g., the Apple iPhone or Android stores (“Application Store”). You acknowledge that this Agreement is between You and BANUBA and not with the Application Store. 
  p The following terms apply when You use a mobile application obtained from any Application Store to access the Services: (1) the license granted to You for our mobile application is limited to a non-transferable license to use the application on a device that utilizes the Apple iOS or Android operating systems, as applicable, and in accordance with the usage rules set forth in the applicable Application Store’s terms of service; (2) we are responsible for providing any maintenance and support services with respect to the mobile application as specified in the terms and conditions of this mobile application license contained in these Terms of Use or as otherwise required under applicable law, and You acknowledge that each Application Store has no obligation whatsoever to furnish any maintenance and support services with respect to the mobile application. You agree to pay all fees charged by the Application Store in connection with App (if any).; (3) in the event of any failure of the mobile application to conform to any applicable warranty, You may notify the applicable Application Store, and the Application Store, in accordance with its terms and policies, may refund the purchase price, if any, paid for the mobile application, and to the maximum extent permitted by applicable law, the Application Store will have no other warranty obligation whatsoever with respect to the mobile application; (4) You represent and warrant that (i) You are not located in a country that is subject to a U.S. government embargo, or that has been designated by the U.S. government as a “terrorist supporting” country and (ii) You are not listed on any U.S. government list of prohibited or restricted parties; (5) You must comply with applicable third-party terms of agreement when using the mobile application; and (6) BANUBA and You acknowledge that BANUBA, not Apple, is responsible for addressing any claims of You or any third party relating to App or Your possession and/or use of App, including, but not limited to: (i) product liability claims; (ii) any claim that App, excluding Your User Content, fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation. This Agreement does not limit BANUBA’s liability to You beyond what is permitted by applicable law; (7) BANUBA and You acknowledge that, in the event of any third party claim that App or Your possession and use of App infringes that third party’s intellectual property rights, BANUBA, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim; (8) You acknowledge and agree that the Application Stores are third-party beneficiaries of the terms and conditions in this mobile application license contained in these Terms of Use, and that each Application Store will have the right (and will be deemed to have accepted the right) to enforce the terms and conditions in this mobile application license contained in these Terms of Use against You as a third-party beneficiary thereof. 
  p To the extent the other terms and conditions of this Agreement are less restrictive than, or otherwise conflict with, the terms and conditions of this Section 5.1, the more restrictive or conflicting terms and conditions in this Section 5.1 apply, but solely with respect to Apps from the Apple Application Store. To the extent this Agreement provides for usage rules for App that are less restrictive than the Usage Rules set forth for App in, or otherwise is in conflict with, Application Store Terms of Service, the more restrictive or conflicting Apple term applies. BANUBA’s contact information for any end-user questions, complaints or claims with respect to App is set forth in Section 9.2. 
  p
    b 5.2. Third Party Services 
  p The Services may contain (or You may be sent via the Services) links to other Services or permit certain third party applications (like leaderboards, game networks) (“Third Party Services”) to provide certain content through the Services, such as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software, and other content or items belonging to or originating from third parties (“Third-Party Content”). Such Third-Party Services and Third-Party Content are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any Third-Party Services accessed through the Services or any Third-Party Content posted on, available through, or installed from the Services, including the content, accuracy, offensiveness, opinions, reliability, privacy practices, or other policies of or contained in the Third-Party Services or the Third-Party Content. Inclusion of, linking to, or permitting the use or installation of any Third-Party Services or any Third-Party Content does not imply approval or endorsement thereof by us. The Services may be used to send content provided by the Third Party Service between users who have the Third Party Service installed on their device. When you do so, BANUBA will share information with the Third Party Service as described in the 
    a(href="https://banuba.com/policy-app", target="_blank") Privacy Policy
    | . BANUBA is not responsible for and does not control Third Party Services. BANUBA provides these Third Party Services only as a convenience to You. 
  p If You decide to leave the Services and access the Third-Party Services or to use or install any Third-Party Content, You do so at Your own risk and You should be aware these Terms of Use no longer govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any website or app to which You navigate from the Services or relating to any applications You use or install from the Services. Any purchases You make through Third-Party Services will be through other Services and from other companies, and we take no responsibility whatsoever in relation to such purchases which are exclusively between You and the applicable third party. You agree and acknowledge that we do not endorse the products or services offered on Third-Party Services and You shall hold us harmless from any harm caused by Your purchase of such products or services. Additionally, You shall hold us harmless from any losses sustained by You or harm caused to You relating to or resulting in any way from any Third-Party Content or any contact with Third-Party Services. 
  p
    b 5.3. Other Users 
  p Services may contain User Content provided by other users of the Services. BANUBA is not responsible for and does not control User Content. BANUBA has no obligation to review or monitor, and does not approve, endorse, or make any representations or warranties with respect to User Content. You use all User Content and interact with other users at Your own risk. Your interactions with other users are solely between You and the other user and we are under no obligation to become involved. You agree that BANUBA will not be responsible for any liability incurred as the result of any such interactions. 
  p
    b 5.4. Privacy Policy 
  p We care about data privacy and security. Please review our 
    a(href="https://banuba.com/policy-app", target="_blank") Privacy Policy
    | . 
  p By using the Services, You agree to be bound by our 
    a(href="https://banuba.com/policy-app", target="_blank") Privacy Policy
    | , which is incorporated into these Terms of Use. Please be advised the Services is hosted in the United States. If You access the Services from the United States, Russian Federation, Asia or any other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the European Union, then through Your continued use of the Services or Services, You are transferring Your data to the EU, and You expressly consent to have Your data transferred to and processed in the EU. Further, we do not knowingly accept, request, or solicit information from children or knowingly market to children. Therefore, in accordance with the U.S. Children’s Online Privacy Protection Act, if we receive actual knowledge that anyone under the age of 13 has provided personal information to us without the requisite and verifiable parental consent, we will delete that information from the Services as quickly as is reasonably practical. 
  p
    b 5.5. Release 
  p You hereby irrevocably and unconditionally release and forever discharge BANUBA (and its suppliers) from any and all claims, demands, and rights of action, whether now known or unknown, which relates to any interactions with, or act or omission of, any Third Party Service, other Services users, or Third Party Advertisers. 
  p.font-weight-light IF YOU ARE A CALIFORNIA RESIDENT, YOU HEREBY WAIVE CALIFORNIA CIVIL CODE SECTION 1542 IN CONNECTION WITH THE FOREGOING, WHICH STATES: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.” 

.section-content-block
  h2 6. Disclaimers 
  p 6.1 
    span.font-weight-light SERVICES ARE PROVIDED “AS-IS” AND AS AVAILABLE AND BANUBA (AND ITS SUPPLIERS) EXPRESSLY DISCLAIM ANY WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, ACCURACY, OR NON-INFRINGEMENT. BANUBA (AND ITS SUPPLIERS) MAKE NO WARRANTY THAT ANY SERVICES: (A) WILL MEET YOUR REQUIREMENTS; (B) WILL BE AVAILABLE ON AN UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE BASIS; OR (C) WILL BE ACCURATE, RELIABLE, COMPLETE, LEGAL, OR SAFE. 
  p 6.2 
    span.font-weight-light SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. 


.section-content-block
  h2 7. Limitation on liability 
  p 7.1
    span.font-weight-light IN NO EVENT SHALL BANUBA (OR ITS SUPPLIERS) BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY LOST PROFIT OR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES ARISING FROM OR RELATING TO THIS AGREEMENT OR BANUBA’S PRIVACY PRACTICES, ANY SERVICES, EVEN IF BANUBA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. ACCESS TO, AND USE OF, ANY SERVICES ARE AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA RESULTING THEREFROM. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, BANUBA’S LIABILITY TO YOU FOR ANY DAMAGES ARISING FROM OR RELATED TO THIS AGREEMENT OR BANUBA’S PRIVACY PRACTICES (FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION), WILL AT ALL TIMES BE LIMITED TO THE AMOUNT YOU’VE PAID BANUBA IN THE PRIOR 12 MONTHS (IF ANY). IN NO EVENT SHALL BANUBA’S SUPPLIERS HAVE ANY LIABILITY ARISING OUT OF OR IN ANY WAY CONNECTED TO THIS AGREEMENT. 
  p 7.2
    span.font-weight-light SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OF CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM JURISDICTION TO JURISDICTION. 

  

.section-content-block
  h2 8. Fees
  p You agree to pay all fees and applicable taxes incurred by You or anyone making purchases through the Services. All payments will be processed via the application Stores where You originally downloaded the Services, unless otherwise is provided by the relevant applications Stores terms of use. 
  p 
    span.font-weight-light BANUBA 
    |  may revise the pricing for the goods and services offered to you for or through the Services at any time. 
    span.font-weight-light YOU ACKNOWLEDGE THAT BANUBA IS NOT REQUIRED TO PROVIDE A REFUND FOR ANY REASON, AND THAT YOU WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR UNUSED VIRTUAL ITEMS WHEN YOU CLOSE YOUR ACCOUNT IN THE RELEVANT APPLICATION STORE OR WHEN YOU CEASE TO USE THE SERVICES. 


.section-content-block
  h2 9. General 
  p
    b 9.1. Changes to this Agreement 
  p This Agreement is subject to occasional revision, and if we make any substantial changes, we may notify You by prominently posting notice of the changes on our Services. Any changes to this Agreement will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to You (if applicable) or thirty (30) calendar days following our posting of notice of the changes on our Services. These changes will be effective immediately for new users of our Services. Continued use of our Services following notice of such changes shall indicate Your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes. The date on which the latest update was made is indicated at the top of this document. We recommend that You print a copy of this Agreement for Your reference and revisit this webpage from time to time to ensure You are aware of any changes. 
  p
    b 9.2. Notice 
  p Any notice provided to BANUBA pursuant to this Agreement should be sent to: <a href="mailto:legal@banuba.com">legal@banuba.com</a>. 
  p
    b 9.3. Entire agreement 
  p This Agreement is the final, complete and exclusive agreement of You and BANUBA with respect to the subject matters hereof (including all Services) and supersede and merge all prior discussions and agreements between the parties with respect to such subject matters (including any prior End User License Agreements and Terms of Service or 
    a(href="https://banuba.com/policy-app", target="_blank") Privacy Policy
    | ). Our failure to exercise or enforce any right or provision of this Agreement shall not operate as a waiver of such right or provision. The section titles in this Agreement are for convenience only and have no legal or contractual effect. The word including means including without limitation. Your relationship to BANUBA is that of an independent contractor, and neither party is an agent or partner of the other. This Agreement, and Your rights and obligations herein, may not be assigned by You without BANUBA’s prior written consent, and any attempted assignment in violation of the foregoing will be null and void. BANUBA may assign this Agreement in connection with a merger, acquisition, reorganization or sale of all or substantially all of its assets, or other operation of law, without Your consent. The terms of this Agreement shall be binding upon assignees. 
