extends base/layout

block main-content
	+sdk-description("Eye tracking","assets/video/eyegazedirectiontracking.mp4")

block sdkDescriptionContent
	.section-content-block
		p Tracking gaze direction with subpixel accuracy and precise eye movement detection. The solution helps measure user interaction and engagement with in-app ads and provides behavioral analytics of mobile UI/UX.
	.section-content-block
		h2 Use cases
		ul.content-list.two-col
			li 
				strong.content-list-title Product analytics. 
				span.content-list-text Analyzing user interface perception and drawing heat maps; assessing interface solutions and the efficiency of ad units.
			li 
				strong.content-list-title Smart UI. 
				span.content-list-text Creating next-generation interfaces that enable touchless eye-gaze control and interactive responses to user behaviour.
			li 
				strong.content-list-title Driver status monitoring. 
				span.content-list-text Monitoring eyelids, detecting drowsiness and preventing sleeping at the wheel.
			li
				strong.content-list-title Brand new non-UI experience. 
				span.content-list-text Building the entirely new concept of UX, where a user is able to control either app or game via eye-gaze and head movements.