extends base/layout

block main-content
	+sdk-description("Separation of objects from the background", "https://www.youtube.com/embed/uj0t-WD1XqM?rel=0")

block sdkDescriptionContent
	.section-content-block
		p The technology allows replacing backgrounds with both static and animated textures in real time. The solution can change backgrounds into a number of optional presets during video calls. You can also use it as a funny effect in advertising.
	.section-content-block
		h2 Use cases
		ul.content-list
			li Replacing backgrounds for practical purposes (e.g. during a business call) or to entertain (e.g. jungle instead of a wall)
			li Editing boring backgrounds to create perfect videos
			li Removing unwanted objects or people from videos