extends base/layout

block main-content
	+sdk-description("Object recognition","assets/video/objects.mp4")

block sdkDescriptionContent
	.section-content-block
		p Precise detection of specific objects in digital images and videos.
	.section-content-block
		h2 Use cases
		ul.content-list
			li Recognising real-world objects and providing information about them (e.g. upon recognition of a cinema building you receive info on showtimes, movie ratings and ticket prices)
			li Detecting sights like buildings, paintings, etc. and augmenting images with interesting data about them
			li Applying AR effects to real-world objects, both static and dynamic ones 
