extends base/layout

block main-content
	+sdk-description("Real-time mobile face tracking", "https://www.youtube.com/embed/o99X_9QNeHk?rel=0")

block sdkDescriptionContent
	.section-content-block
		p Banuba’s technology uses precise motion tracking at 200 frames-per-second (FPS) and high stability, even at extreme angles (up to 90 degrees) to deliver superior real-time face tracking on mobile devices.
		p This technology enables a range of applications; masks, filters and augmented 3D models, some of which can be started using a pre-set trigger.
		p Banuba avoids the in-between steps associated with other solutions, making it quicker and more precise. Additionally, Banuba’s solution recognizes anthropometric data without reference to contextual 2D or 3D landmarks. Further image recognition precision is achieved with:
		ul.content-list
			li No solvers - with direct adjustment to the camera parameters Banuba achieves reduced jitter and top-notch performance.
			li Superior lighting detection adds to higher-quality recognition.
			li A sophisticated anti-jitter feature applies masks with polished excellence. 
	.section-content-block
		h2 Use cases
		.row
			.col-md-6
				ul.content-list
					li 
						strong.content-list-title Smart UI. 
						span.content-list-text Turning on battery saving mode when the phone is put down and sensors do not detect a face.
					li 
						strong.content-list-title Face editing. 
						span.content-list-text Real-time face beautification, such as making eyes larger, nose thinner or cheeks blushed
					li
						strong.content-list-title E-Commerce/M-commerce. 
						span.content-list-text A virtual fitting room where users can try on apparel, sunglasses, hats, jewelery, makeup, etc.
					li 
						strong.content-list-title Mobile marketing. 
						span.content-list-text Face-based analysis of the application user
			.col-md-6
				ul.content-list
					li
						strong.content-list-title Virtual makeover.
						span.content-list-text Changing appearances with makeup, a beard or new hairstyle
					li
						strong.content-list-title Security. 
						span.content-list-text Personal authentication using predetermined facial expression parameters, creating an individual profile, face-based automatic user registration, making a profile image, remembering the user and determining when they are looking at the screen				
					li
						strong.content-list-title Networking. 
						span.content-list-text Tracking and spotting faces of conference participants