extends base/layout

block main-content
	+sdk-description("Emotion recognition", "assets/video/emotions.mov")

block sdkDescriptionContent
	.section-content-block
		p Six major human emotions (anxiety, sadness, surprise, etc.) are recognized, based on facial expressions. The technology can help to measure user engagement by monitoring and recording emotions while watching commercials.
	.section-content-block
		h2 Use cases
		.row
			.col-md-6
				ul.content-list
					li 
						strong.content-list-title Human-computer communication. 
						span.content-list-text Determining user emotions to shape more personalised experiences.
					li 
						strong.content-list-title Smart UI. 
						span.content-list-text Identifying well-timed positive feedback requests and pre-empting negative feedback.
					li 
						strong.content-list-title Visual art. 
						span.content-list-text Designing interactive visual effects that respond to facial expressions.

			.col-md-6
				ul.content-list
					li
						strong.content-list-title Healthcare. 
						span.content-list-text Delivering online mental health services of an in-person quality. 
					li
						strong.content-list-title Mobile marketing. 
						span.content-list-text Personalising content topics and interfaces based on user reaction analysis; assessing the quality of content, promotional and marketing materials by monitoring emotional responses in real time.
					li
						strong.content-list-title Education. 
						span.content-list-text Automatic detection of difficulties experienced by e-learners, offering additional explanations and info.
					