extends base/layout

block main-content
	+sdk-description("Motion capture","assets/video/motion_capture.mp4")

block sdkDescriptionContent
	.section-content-block
		p Detection of head movements and rotation up to 90 degrees. The technology creates 3D models that closely mimic movements of users and objects in video games development and filmmaking.
	.section-content-block
		h2 Use cases
		ul.content-list
			li Real-time video communication using 3D user avatars with no video traffic involved
			li Complex video effects with a high degree of interactivity, e.g. controlling games characters using facial expressions and head movements
			li Character animation in video and filmmaking