extends base/layout

block main-content
	+sdk-description("Gender and age detection","assets/video/agegenderfix.mp4")

block sdkDescriptionContent
	.section-content-block
		p Fast user data (age, gender, race) aggregation and processing for a deeper understanding of the audience.
		p User devotion and satisfaction results from the appealing content, design, functionality, and relevant advertising. Successful customization requires input from users. Banuba solutions see ‘asking for feedback’ as a thing of the past. The technology presents the possibility to detect and gather all the information needed for greater user involvement, without interrupting user experience.
	.section-content-block
		h2 Use cases
		ul.content-list
			li Content customization to match users’ gender or/and age
			li Building up a detailed demographic profile of the app users
			li Parental control and content filtering for applications used by children