extends base/layout

block main-content
	+sdk-description("Surface detection","assets/video/objects.mp4")

block sdkDescriptionContent
	.section-content-block
		p Efficient detection of the surface and its curvature to place virtual objects at real-world locations.
	.section-content-block
		h2 Use cases
		ul.content-list
			li Superimposing video game maps on the real-world playground surfaces
			li Scanning of interiors to arrange furniture, hang wallpaper, color walls, etc.
			li Creating ultimate screenless portable devices
			li Identifying billboards and placing ads on them